const mysql = require('mysql');
const connection = mysql.createConnection({
    host: 'localhost',
    user: 'username',
    database: 'database',
    password: '********'
});
connection.connect();
module.exports = connection;